.main {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 300px 1fr;
  grid-template-areas:
    "avatar  brief"
    "myStack myStack";
  grid-gap: 10px;
  min-height: 100%;

}
