.brief {
  margin: 0;
  padding: 0;
  grid-area: brief;
}
.brief-text {
  margin: 0px;
  padding: 0 10px;
  text-indent: 1.5em;
}
a {
  text-decoration: none;
  color: black;
}
.brief-text a:hover {
  color: whitesmoke;
}